<!--<h1>Template a mettre en place après la pause.... I need a beer !</h1>

<%= link_to 'Inscription', new_user_registration_path %>
<%= link_to 'Connexion', new_user_session_path %>
<%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>-->

    <div class="container">
      <h1 class="my-4">Un service all-inclusive permettant de gagner du temps. </h1>
     <div >L’ère du marché immobilier actuel est au numérique, internet en ai la vitrine clef ! </div>

      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <div class="col-md-8">
          <p>Il faut donc rester à l’actualité des nouvelles technologies pour maximiser son potentiel valeur immobilier et exploiter cela en actif rentable. </p>
        </div>
        <div class="col-md-4">
          <a class="btn btn-lg btn-secondary btn-block" href="#">Les actualités immobilières</a>
        </div>
      </div>
    </div>

    <!-- /.container -->
    
    <main role="main">


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
        
      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        
        <div class="row">
          <div class="col-lg-4">
            <div class="col-lg-4 align-center">
            <img class="img-responsive" img src="/assets/travel.jpg" alt="Generic placeholder image" width="140" height="140">
            </div>
            <br>
            <h2>Gardiennage des clés</h2>
            <p>Surfant sur l’ampleur du phénomène de location entre particuliers, Timecloud propose un service sécurisé de gardiennage de vos clés.</p>
            <p>Elle répond à un réel besoin des propriétaire avec pour but de simplifier la récupération des clés par le locataire.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Voir les détails &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="col-lg-4 align-center">
            <img class="img-responsive" img src="/assets/worker.jpg" alt="Generic placeholder image" width="140" height="140">
            </div>
            <br>
            <h2>Service de qualité</h2>
            <p>Nous travaillons avec une société de service à la personne qui est vouée à effectuer des prestations de qualité, en mettant à votre disposition du personnel qualifié, expérimenté et de confiance.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Voir les détails &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <div class="col-lg-4 align-center">
            <img class="img-responsive" img src="/assets/cleaner.jpg" alt="Generic placeholder image" width="140" height="140">
            </div>
            <br>
            <h2>Ménage professionnel</h2>
            <p>Le Check-in logement avec un entretien soigné et efficace en terme de ménage et un accueil préparé avec des éléments d’attraits affectifs. ous gagnez ainsi du temps en vous libérant de ces charges, Timecloud s'occupe de tout au Check-out.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Voir les détails &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
        
        
        
        <hr>
        
        
        
                <!--
        User Profile Sidebar by @keenthemes
        A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
        Licensed under MIT
        -->
        
        <div class="container content">
        	<div class="row">
        		<!-- Pricing -->
        		<div class="col-md-6">
        			<div class="pricing hover-effect">
        				<div class="pricing-head">
        					<h3>TimeCloud Keep <span>
        					Le gardiennage </span>
        					</h3>
        					<h4><i>€</i>18<i>.99</i>
        					<span>
        					Par mission </span>
        					</h4>
        				</div>
        				<ul class="pricing-content list-unstyled">
        					<li>
        						Le gardienne des clés
        					</li>
        					<li>
        						L'accueil et/ou départ des voyageurs
        					</li>
        					<li>
        						Ménage de qualité
        					</li>
        					<li>
        						Lavage de votre linge
        					</li>
        					<li>
        						Espace vert
        					</li>
        				</ul>
        				<div class="pricing-footer">
        					<p>
        						 En option: Coordination de vos réservations .
        					</p>
        					<a href="javascript:;" class="btn yellow-crusta">
        					Valider une mission
        					</a>
        				</div>
        			</div>
        		</div>
        		<div class="col-md-6">
        			<div class="pricing pricing-active hover-effect">
        				<div class="pricing-head pricing-head-active">
        					<h3>TimeCloud Care <span>
        					La gestion totale </span>
        					</h3>
        					<h4><i>%</i>19<i>.50</i>
        					<span>
        					Par mission </span>
        					</h4>
        				</div>
        				<ul class="pricing-content list-unstyled">
        					<li>
        						En supplément au TimeCloud Keep
        					</li>
        					<li>
        						Pack de bienvenue voyageurs
        					</li>
        					<li>
        						Accueil et départ par nos concierges
        					</li>
        					<li>
        						Suivi de vos réservations en temps réel
        					</li>
        					<li>
        						Coordination de la maintenance et des travaux
        					</li>
        				</ul>
        				<div class="pricing-footer">
        					<p>
        					En option: Vous supervisez le tout grâce à l'application mobile.
        					</p>
        					<a href="javascript:;" class="btn yellow-crusta">
        					Valider une mission
        					</a>
        				</div>
        			</div>
        		</div>
        		<!--//End Pricing -->
        	</div>
        </div>

    <div class="container">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">JOLIE STUDIO 2, PISCINE PLAGE | SAINT-FRANCOIS<br><span class="text-muted">Logement entier · Anse des Rochers</span></h2>
            <p class="lead">Un jolie Studio climatisé à 100 m de la plage avec une magnifique vue mer ! Le studio se situe dans une jolie résidence " Anse des Rochers" sécurisée, plage, et une grande piscine privative. .</p>
            <a href="javascript:;" class="btn yellow-crusta">
					Voir le calendrier
		    </a>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto img-responsive" img src="https://a0.muscache.com/im/pictures/d5928114-5665-4dee-9f78-6e2e708579c4.jpg?aki_policy=x_large" alt="" height="300" width="480">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Villa 3 rooms, Piscine | Le Gosier <br><span class="text-muted">Villa entière.</span></h2>
            <p class="lead">Un jolie appart F3 cloturée dans un environnement calme & tranquille, idéale pour des vacances en famille ou entre amis. Situé dans la ville du Gosier, à 20min de l'aéroport et à 10min de Sainte-Anne.</p>
            <a href="javascript:;" class="btn yellow-crusta">
					Voir le calendrier
		    </a>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto img-responsive" img src="https://a0.muscache.com/im/pictures/4cff231d-e78f-4267-9f5c-b4b4989c1def.jpg?aki_policy=xx_large" alt="" height="300" width="480">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Appart-Villa, Piscine 2 rooms | Deshaies <br><span class="text-muted">Villa entière.</span></h2>
            <p class="lead">Mon logement se trouve entre Sainte-Rose & Deshaies, dans un environnement privatisé, calme & tranquille. A 5min d'une des plus belles plages de la Guadeloupe "Plages des îles & Cluny".</p>
            <a href="javascript:;" class="btn yellow-crusta">
					Voir le calendrier
		    </a>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto img-responsive" img src="https://a0.muscache.com/im/pictures/b0f7c95a-d9e2-4bd4-b917-d1ab94907d58.jpg?aki_policy=xx_large" alt="" height="300" width="480">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
        

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Retourner au début</a></p>
        <p>&copy; 2017 TimeCloud, Inc. &middot; <a href="#">Conditions de</a> &middot; <a href="#">annonces</a></p>
      </footer>

    </main>

